.upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: #000000d2;
    opacity: 0.9;
    box-shadow: 0 0 70px #000000;
    border-radius: 40px;
    margin-top: 3%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 650px;
    padding: 50px;
    overflow: hidden;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    padding: 10px;
  }
  
  .white-button {
    background-color: white;
    color: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:large;
  }

  .white-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .text {
    text-align: right;
    width: 75%; 
    padding: 10px;
    color: white;
  }

  .blue-button {
    background-color: blue;
    color: white;
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self:last baseline;
  }

  .blue-button:hover {
    background-color: rgb(0, 0, 161);
  }

.instructions{
    width: 75%; /* Set your desired width */
    height: 90%; /* Set your desired height */
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 50px;
    color: white;
    font-family: Centra;
}





  @media (max-width: 1250px){
    .upload{
        width: 90%;
        height: 85%;
    }

    .white-button{
        width: 100%;
        height: 5%;
        font-size: 80%;
        text-align: center;
    }
  }
  