.score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background-color: #000000d2;
    opacity: 0.9;
    box-shadow: 0 0 70px #000000;
    border-radius: 40px;
    margin-top: 3%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    padding: 50px;
    overflow: hidden;
  }
  

.circle {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-right: 50%;
}

h1 {
    font-size: 24px;
    margin-top: 0;
    color: white;
  }

  @media (max-width: 1250px){
    .score{
        width: 50%;
        height: 50%;
    }

    .circle{
        width: 70px;
        height: 70px;
        font-size: 95%;
        border-radius: 50%;
    }

    h1{
        font-size: 100%;
    }
  }

  @media (max-width: 900px){
    .score{
        width: 50%;
        height: 50%;
    }

    .circle{
        width: 50px;
        height: 50px;
        font-size: 90%;
        border-radius: 50%;
    }

    h1{
        font-size: 80%;
    }
  }